
.cbp-popup-singlePage-counter {
    color: #f8f8f8;
}

.cbp-l-grid-team-name:hover {
    color: #666;
}
.cbp-popup-singlePage .cbp-l-project-details-visit:hover {
    color: #fff;
}

.cbp-l-caption-buttonLeft:hover,
.cbp-l-caption-buttonRight:hover {
    background-color: #666;
}




